# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
var1 = 111
var2 = 111
id(var1), id(var2)

(131990029110960, 131990029110960)

Як було сказано на лекції, проміжок від -5 до 256 зарезервовані. Тому всі значення від -5 до 25 будуть завжди посилатися на однакове посилання.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
isinstance(True, bool)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [13]:
varInt = 300
varDouble = .5
varDouble2 = .7
varPow = 2
print(varInt + varDouble)
print(varInt - varDouble)
print(varInt / varDouble)
print(varInt * varDouble)
print(varInt // varDouble2)
print(varInt % varDouble2)
print(varInt ** varPow)

300.5
299.5
600.0
150.0
428.0
0.400000000000019
90000

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [18]:
varInt = 300
varDouble = .5
varDouble2 = 2.1

print(int(varDouble2))

print(int(True))

1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [22]:
str()
myString = ''
myString2 = ""

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [60]:
str1 = 'I`\ndd'
str2 = r'I`\ndd'

print(str1)
print(str2)

I`
dd
I`\ndd

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [23]:
surname = "Akhmadov"
print(f"My surname is {surname}")

My surname is Akhmadov

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [26]:
str1 = 'My dog is crazy'
var = str1.split()
var

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [33]:
list1 = [1, 2, 3, 4]
list2 = []
list2.append(2)
list2.append(1)
list2.append(3)
list2.append(0)

print(len(list1))

4

[2, 1, 3, 0]

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [36]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5, 6]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [53]:
list1 = [[1,2,1], [2,3,4]]
list1[-1][0]

2

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [54]:
list1 = [1, "Alex", 0.3, True, 'Den', [1,2], 100, -1, .3, False]

print(list1[2:-2])

[0.3, True, 'Den', [1, 2], 100, -1]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [43]:
myTuple = (1,)
myTuple

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

список можна динамічно змінювати, а кортеж ні. щоб його змінити, треба скопіювати всі данні с першого кортежа в інший, перший видалити, чи просто не використовувати, а інший(другий) вже використовувати, як новий, з новими потрібними елементами

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [46]:
tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
slice = tuple[::-2]
slice

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [49]:
mySet = set()
mySet.add(1)
mySet.add(2)
mySet.add(3)
mySet.add(4)
mySet

{1, 2, 3, 4}

Так, множина змінна, бо я можу додавати через add та видаляти за допомогою remove значення множини

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [50]:
my_list = [1, 1, 2, 67, 67, 8, 9]
mySet = set(my_list)
mySet

{1, 2, 8, 9, 67}

Все просто, бо список може містити однакові значення, а множина завжди має уникальні значення, може бути корисним для вирішення типових завдань, як телефонна книга, чи список номерів паспортів всіх людей в країні

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [52]:
mySet1 = {1, 2 ,3, 4}
mySet2 = {3, 4, 5, 7, 8}

print(mySet1.union(mySet2))
print(mySet1.difference(mySet2))
print(mySet1.intersection(mySet2))
print(mySet1.symmetric_difference(mySet2))

{1, 2, 3, 4, 5, 7, 8}
{1, 2}
{3, 4}
{1, 2, 5, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [41]:
dictionary = {
    1: 'Alex',
    2.3: 'Oleg',
    "name": 'Sasha',
    (3, 9, 2003): 'Den'
}
dictionary

{1: 'Den', 2.3: 'Oleg', 'name': 'Sasha'}

Я думаю, що ні, тому що ключі повинні бути prymari key як в бд, а списки змінюванні

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [42]:
dictionaryExternal = { 0: {
    1: 'Alex',
    2.3: 'Oleg',
    "name": 'Sasha'
    } }

print(dictionaryExternal[0])

{1: 'Alex', 2.3: 'Oleg', 'name': 'Sasha'}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.